In [3]:
import pandas as pd
import math

df = pd.read_csv('estimation model sample data - Sheet1.csv')
df

    warehouse_id  pincode_id  zone  sub_zone  sorting_district  delivery_time
0             66      110001     1        11               110              3
1             66      110001     1        11               110              3
2             68      110001     1        11               110              3
3             68      110001     1        11               110              3
4             68      110001     1        11               110              3
5             66      110001     1        11               110              3
6             66      110001     1        11               110              3
7             68      110001     1        11               110              3
8             68      110001     1        11               110              2
9             68      110001     1        11               110              2
10            68      110001     1        11               110              2
11            68      110001     1        11               110              2
12            68      110001     1        11               110              2
13            68      110001     1        11               110              2
14            66      110001     1        11               110              2
15            66      110001     1        11               110              2
16            66      110001     1        11               110              2
17            68      110001     1        11               110              2
18            68      110001     1        11               110              2

In [4]:
def prediction(warehouse_id1, pincode_id1):
    zone1 = int(pincode_id1 / 100000)
    sub_zone1 = int(pincode_id1/10000)
    sorting_district1 = int(pincode_id1/1000)
    return predictionHelper(warehouse_id1, pincode_id1, zone1, sub_zone1, sorting_district1)

def predictionHelper(warehouse_id1, pincode_id1, zone1, sub_zone1, sorting_district1):
    l = ['pincode_id', 'sorting_district', 'sub_zone', 'zone']
    l2 = [pincode_id1, sorting_district1, sub_zone1, zone1]
    for i in range(len(l)):
        temp = df[(df[l[i]] == l2[i]) & (df['warehouse_id'] == warehouse_id1)]['delivery_time']
        if not temp.empty:
            return math.ceil(temp.mean())
    for i in range(len(l)):
        temp = df[(df[l[i]] == l2[i])]['delivery_time']
        if not temp.empty:
            return math.ceil(temp.mean())

In [5]:
print(prediction(66, 173204))

3